<p>Your Balance is <span data-t-banking-balance>{{ balance | currency}}</span></p>
<div class="field">
  <label for="amount">Amount</label>
  <input type="number"
         #amount
         data-t-banking-amount-input
         class="input">
</div>
<div>
  <button class="button"
          data-t-banking-deposit-button
          (click)="deposit(amount)">Deposit</button>
  <button class="button"
          data-t-banking-withdraw-button
          (click)="withdraw(amount)">Withdraw</button>
</div>
