<nav class="tabs is-fixed-top">
  <ul>
    <li [routerLinkActive]="['is-active']"
        data-t-routing-home>
      <a [routerLink]="['home']">Home</a>
    </li>
    <li [routerLinkActive]="['is-active']"
        data-t-routing-banking>
      <a [routerLink]="['banking']">Banking</a>
    </li>
    <li [routerLinkActive]="['is-active']"
        data-t-routing-todos>
      <a [routerLink]="['todos']">Todos</a>
    </li>
    <li [routerLinkActive]="['is-active']"
        data-t-routing-counter>
      <a [routerLink]="['counter']">Redux Counter</a>
    </li>
    <li [routerLinkActive]="['is-active']"
        data-t-routing-songs>
      <a [routerLink]="['songs']">Redux Songs</a>
    </li>

  </ul>
</nav>
